<!DOCTYPE html>
<html>
  <head>
    <title>Burbl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <= %stylesheet_pack_tag 'application' %> -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1>Test!!</h1>
    <div id="app"></div>
    <%= yield %>
  </body>
</html>
